<div class="grid">
  <% @pins.each do |pin| %>
    <div class = "col-md-3 grid-item grid-sizer">
      <div class = "pin grid-item-content">
        <div class = "pin-image">
          <%= link_to image_tag(pin.image.url(:medium)), pin %>
        </div>
        <div class = "pin-content">
          <div class = "pin-description">
            <%= pin.description %>
          </div>
          <div class = "user">
            <div class = "user-detail"><%= pin.user.username %></div>
            <% if pin.user == current_user %>
            <div class = "user-actions">
              <%= link_to 'Edit', edit_pin_path(pin) %>
              <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
